* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --title-color: #0d1111;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* ======================== COMMON =========================== */
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
}

.btn:hover {
    box-shadow: 2px 2px #666665;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line2 {
    --line-clamp: 2;
}

.line-clamp.line3 {
    --line-clamp: 3;
}

.word-break-all {
    word-break: break-all;
}
/* ======================== HEADER =========================== */
.header--fixer {
    position: sticky;
    top: -30px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    padding: 0.5px 0 25px;
    width: 100vw;
}

.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.header__list {
    display: flex;
    gap: 39px;
}

.header__list a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #494949;
}

.header__list a:hover {
    text-shadow: 0.5px 0 0 #494949;
}

.header__cta a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #494949;
    padding: 12px 24px;
    min-width: 108px;
}

.header__cta a:hover {
    text-shadow: 0.5px 0 0 #494949;
}

.header__cta .cta__Sign-up {
    text-shadow: 0.5px 0 0 var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
}

.header__cta .cta__Sign-up:hover {
    text-shadow: 1px 0 0 var(--primary-color);
    box-shadow: 2px 2px #666665;
}

/* ======================== HERO =========================== */
.hero-page {
    margin-top: 50px;
    padding-bottom: 79px;
}

.hero-page .content {
    display: flex;
}

.hero-page__info {
    width: 39%;
    margin-top: 93px;
}

.hero__top-info {
    font-weight: 400;
    font-size: 1.4rem;
    color: #767e7e;
}

.hero__title-info {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    color: var(--title-color);
}

.hero__desc-info {
    margin-top: 46px;
    width: 374px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 32px;
    color: #9da6a5;
}
/* --------------------- hero btn -------------------------- */
.btn__hero {
    display: flex;
    align-items: center;
    margin-top: 52px;
}

.btn__hero-get {
    align-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.btn__hero-play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.btn__hero-play-icon .icon {
    width: 14px;
    height: 18px;
}

.btn__hero-play-icon:hover {
    box-shadow: 1px 1.5px #7f7f7b;
}
/* --------------------- hero picture -------------------------- */
.hero-page__picture {
    margin-left: 71px;
    position: relative;
}

.hero-page__img-main {
    display: block;
    width: 641px;
    height: 631px;
    object-fit: cover;
    padding-left: 65px;
}
/* -------------------------Item Picture -------------- */
.hero-page__item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 157px;
    border-radius: 18px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 149px;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero-page__item-1 p {
    font-weight: 500;
    font-size: 10px;
    width: 55px;
    color: var(--title-color);
    margin-left: 16px;
}

.hero-page__item-1 div {
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 5px 0 0 5px;
    position: relative;
}

.hero-page__item-1 div::before {
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    border-radius: 999px;
    background: #fff;
    position: absolute;
    bottom: 8px;
    left: 4px;
}

.hero-page__item-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #ffffff;
    position: absolute;
    bottom: 46px;
    left: 0;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero-page__item-2 p {
    margin-top: 16px;
    font-weight: 500;
    font-size: 10px;
    color: var(--title-color);
}

.hero-item-2__scale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-item-2__scale div {
    width: 74px;
    height: 6px;
    border-radius: 999px;
    background: #edf1f5;
}

.hero-item-2__scale-1 {
    margin-top: 16px;
    position: relative;
}

.hero-item-2__scale-1::after {
    content: "";
    display: inline-block;
    width: 39px;
    background: #fb9899;
    height: 6px;
    border-radius: 999px;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-item-2__scale-2 {
    margin-top: 12px;
    position: relative;
}

.hero-item-2__scale-2::after {
    content: "";
    display: inline-block;
    width: 51px;
    background: #fb9899;
    height: 6px;
    border-radius: 999px;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-item-2__scale-3 {
    margin-top: 10px;
    position: relative;
}

.hero-item-2__scale-3::after {
    content: "";
    display: inline-block;
    width: 33px;
    background: #fb9899;
    height: 6px;
    border-radius: 999px;
    position: absolute;
    left: 0;
    top: 0;
}

.hero-item-2__scale .hero-item-2__scale-4 {
    margin-top: 16px;
    width: 26px;
    height: 7px;
}

.hero-page__item-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 207px;
    border-radius: 24px;
    background: #fefefd;
    position: absolute;
    bottom: 41px;
    right: 45px;
    box-shadow: 0px 22px 50px 0px #0000000d;
}

.hero-page__item-3 p {
    margin-top: 17px;
    margin-left: 35px;
    font-weight: 500;
    font-size: 10px;
    color: var(--title-color);
}

.hero__group-img img {
    margin: 8px 0 17px -10px;
    display: inline-block;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.hero__group-img img:first-child {
    margin-left: 35px;
}

.hero__group-img div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    margin-left: -10px;
    margin-bottom: 18px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background: #1ebfc1;
    font-weight: 500;
    font-size: 10px;
    color: #ffffff;
}
/* ======================== FEATURES =========================== */

.features-page {
    width: 1170px;
    margin: 130px auto;
}

.features-page .content {
    width: 1024px;
    margin-left: 0;
}
/* ----------------------  FEATURES TOP ----------------- */

.features-top__sub-title {
    font-weight: 700;
    font-size: 12px;
    color: #767e7e;
}

.features-top__title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    width: 577px;
}

.features-top__desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    color: #767e7e;
    width: 590px;
}
/* --------------------------FEATURES BOT------------------------ */
.features-page-bot {
    margin-top: 80px;
}

.features-bot__item-group {
    display: flex;
    justify-content: space-between;
}

.features-bot__title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 20px;
    color: var(--title-color);
}

.features-bot__desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #9da6a5;
}

.features-bot__item-1 {
    width: 168px;
}

.features-bot__item-2 {
    width: 223px;
}

.features-bot__item-3 {
    width: 224px;
}
/* ==================== Popular Courses ==================== */
.courses-top__sub-title {
    font-weight: 700;
    font-size: 12px;
    color: #767e7e;
}

.courses-top__title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 42px;
    color: var(--title-color);
}

.courses-top__desc {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-top__desc p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 525px;
    color: #767e7e;
}

.courses-top__desc a {
    font-weight: 700;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: var(--primary-color);
}
/* ------------------COURSES BOT-------------------------- */
.courses-page-bot {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses-page__item {
    height: 517px;
    position: relative;
}

.courses-page-bot img {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
    opacity: 0.7;
}

.courses-bot__info {
    position: absolute;
    left: 17px;
    bottom: 0;
    background: #fff;
    width: 325px;
    height: 195px;
    box-shadow: 0px 22px 50px 0px #0000000d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.courses-bot__info:hover {
    cursor: pointer;
    border-color: #e2dfda;
}

.courses-bot__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--title-color);
    margin-left: 25px;
    margin-top: 18px;
}

.courses-bot__price {
    margin-top: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #9da6a5;
    margin-left: 25px;
}

.courses-bot__price strong {
    font-weight: 700;
    font-size: 22px;
    color: var(--title-color);
}

.courses-bot__desc {
    font-weight: 400;
    font-size: 14px;
    color: #9da6a5;
    margin-left: 25px;
    margin-top: 7px;
}

.courses-bot__dot {
    margin-left: 41px;
    margin-top: 18px;
    display: flex;
}

.courses-bot__dot span {
    font-weight: 400;
    font-size: 14px;
    color: #9da6a5;
    margin-right: 26px;
    position: relative;
}

.courses-bot__dot span::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
    position: absolute;
    left: -15px;
    top: 3.5px;
}
